body {
   background:white;
   color:black;
}
h1 {
   width:100%;
   text-align:center;
}
#info {
   width:100%;
   text-align:center;
}
#theform {
   width:60%;
   margin-left:20px;
   float:left;
}
#buttons {
   width:25%;
   float:right;
}
button {
   margin:5px;
}
